<style>
    .errormsg{
        color:red;
        font-size:12px;
    }
</style>

<form id="myform" class="form" role="form" >
    <section class="form-group has-feedback">
        <label class="control-label">請輸入姓名</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="輸入一個名字" />
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
    </section>
    <div class="form-group">
        <label class="control-label">請輸入Ray</label>
        <input type="text" id="nickname" name="nickname" class="form-control classname" placeholder="輸入一個名字" />
    </div>
    <div class="form-group">
        <button type="submit" id="formsubmit" class="btn btn-primary">Submit</button>
    </div>
</form>
<hr />
<div id="resultpanel">

</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.validator.addMethod('checkid', CheckId, "安安輸入Ray才能pass喔!");
            $.validator.addClassRules({ 'classname': {  rangelength:[2,10] } })
            //$.validator.setDefaults({
            //    submitHandler: AppendNewInfo()
            //})
            $('#formsubmit').on('click', function () {
                $('#myform').validate({
                    errorClass: "errormsg",
                    rules: {
                        //element's name : rules
                        name: {
                            required: true,
                            minlength: 2,
                        },
                        nickname: {
                            required: true,
                            minlength: 2,

                            //checkid: true
                        }
                    },
                    messages: {
                        //element's name : { rule : msg}
                        name: {
                            required: "這個必須填!",
                            minlength: "有人名字只有一個字嘛!"
                        },
                        nickname: {
                            required: "想個綽號吧!",
                            rangelength:"只能輸入2-10喔!"
                        }
                    },
                    //highlight: function (element, errorClass, validClass) {
                    //    var errormsg = $(element).parent().find('.errormsg').text();
                    //    if (errormsg == '') {
                    //        console.log('123');
                    //        $(element).tooltip('destroy');
                    //    }
                    //    else {
                    //        //$(element).attr('title', $(element).parent().find('.hidden').text());
                    //        $(element).attr('title', 'here have some mistakes!!');
                    //        $(element).tooltip('show');
                    //    }

                    //},
                    errorPlacement: function(error, element){
                        $(element).attr('data-original-title', $(error).text());
                        //$(element).parent().append(error);
                        $(element).tooltip('show');
                    },
                    submitHandler: function(){
                        AppendNewInfo();
                        return false;
                    }
                });
            })
        })

        function CheckId() {
            var checkresult;
            $.ajax({
                type: 'post',
                data: {
                    name: $('#nickname').val()
                },
                url: '@Url.Action("ValidateName", "Home")',
                async: false,
                success: function (result) {
                    checkresult = result;
                }
            })
            return checkresult;
        };

        function AppendNewInfo() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AboutInfo","Home")',
                data: {
                    name: $('#name').val(),
                    nickname: $('#nickname').val()
                },
                success: function (result) {
                    $('#resultpanel').append(result);
                    
                }
            })
            return false;
        }
    </script>
}